* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}
.row {
  margin: 0;
}
.header {
  background: linear-gradient(to left, rgb(45, 109, 253), rgb(157, 134, 255));
}
.navbar-brand {
  color: whitesmoke !important;
}
.navbar {
  background-color: transparent !important;
}
.nav-link {
  color: whitesmoke !important;
}

.btn-outline-secondary {
  color: #fff;
  border-color: #fff;
}
.btn-lg {
  padding: 0.7rem 1.5rem !important;
  line-height: 0.6 !important;
  font-size: 1rem !important;
}
.btn-outline-secondary:hover {
  color: #fffffffd;
  background-color: transparent;
  border-color: #fff;
  border-width: 2px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  @media screen and (min-width: 992px) {
    padding-right: 1.2em;
    padding-left: 1.2rem;
  }
}

.all-in-one {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 56px);
}
.all-in-one_heading,
.all-in-one_sub-heading,
.all-in-one_paragraph,
.all-in-one_list-text {
  color: #246bfd;
}

.all-in-one-image {
  width: 100%;
  @media screen and (min-width: 1300px) {
    margin-top: -2rem;
  }
}
.all-in-one_selling-button {
  background: linear-gradient(to right, rgb(45, 109, 253), rgb(157, 134, 255));
}
.all-in-one_rent-button {
  background: linear-gradient(to left, rgb(45, 109, 253), rgb(157, 134, 255));
}
